@model IEnumerable<BibTrans.Models.Books>

@{
    ViewData["Title"] = "Książki";
    ViewData.Add("ChosenId", 0);
}

<link rel="stylesheet" href="~/css/Views/Admin/Books.css" />

<div class="left-container">
    @{
        await Html.RenderPartialAsync("_CreateForm");
    }
</div>
<div class="right-container panel-bg">
    <header>
        <h6>Lista książek</h6>
        <div>
            <p>@Html.DisplayNameFor(model => model.Title)</p>
            <p>@Html.DisplayNameFor(model => model.Autor)</p>
            <p>@Html.DisplayNameFor(model => model.ISBN)</p>
            <p>@Html.DisplayNameFor(model => model.IsAvailable)</p>
        </div>
    </header>
    <div class="books-list-container">
        @if (Model.Count() == 0)
        {
            <p class="no-data">Brak książek</p>
        }
        @foreach(var item in Model)
        {
            <div class="book">
                <div class="book-info" data-bookid="@Html.ValueFor(modelItem => item.Id)">
                    <p>@Html.DisplayFor(modelItem => item.Title)</p>
                    <p>@Html.DisplayFor(modelItem => item.Autor)</p>
                    <p>@Html.DisplayFor(modelItem => item.ISBN)</p>
                    <p>@Html.DisplayFor(modelItem => item.IsAvailable)</p>
                </div>
                <div class="book-details hidden">
                    <div>
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                        <span class="icon" data-bookid="@Html.ValueFor(modelItem => item.Id)"><i class="fa-solid fa-angle-up"></i></span>
                    </div>
                    <div class="book-actions">
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@{
    await Html.RenderPartialAsync("_DeleteModal", ViewData["ChosenId"]);
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Views/Admin/book.js"></script>
<script src="https://kit.fontawesome.com/32373b1277.js" crossorigin="anonymous"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}